<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page - Product Admin Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/admin/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/admin/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin

    
	-->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/admin">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {{!-- <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports
                                     <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li> --}}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/products">
                                <i class="fas fa-shopping-cart"></i>
                                Products
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/user_details">
                                <i class="far fa-user"></i>
                                Users
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/admin/orders">
                                <i class="	fas fa-cart-arrow-down"></i>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-gift"></i>
                                <span>
                                    Coupons
                                     {{!-- <i class="fas fa-angle-down"></i> --}}
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/coupon">Create Coupons</a>
                                <a class="dropdown-item" href="/admin/manageCoupon">Manage Coupons</a>
                                {{!-- <a class="dropdown-item" href="#">Yearly Report</a> --}}
                            </div>
                             <li class="nav-item">
                            <a class="nav-link" href="/admin/inventory">
                                <i class="	fa fa-cubes"></i>
                                Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/banner">
                                <i class="	fas fa-bullhorn"></i>
                                Banner
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports
                                     {{!-- <i class="fas fa-angle-down"></i> --}}
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/dailyReport">Daily Report</a>
                                <a class="dropdown-item" href="/admin/monthlyReport">Monthly Report</a>
                                <a class="dropdown-item" href="/admin/yearlyReport">Yearly Report</a>
                            </div>
                        </li>
                        </li>
                         {{!-- <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports
                                     <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li> --}}
                        {{!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings 
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li> --}}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/admin/admin_logout">
                              
                              </i>Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
     <div id="main-wrapper">
                    <!-- row -->
                    <div class="row align-items-center grid-margin">
                        <div class="col-12">
                            <div class="card card-white">
                                <div class="card-body row align-items-center">
                                    <div class="col-12 col-md-5 mb-4 mb-md-0">
                                        <h4 class="mb-0">Customers</h4>
                                    </div>

                                    <div class="col-12 col-md-7">

                                        <div class="row">

                                            <div class="col-md-8 mb-3 mb-md-0">
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1" placeholder="search by name">
                                            </div>

                                            <div class="col-md-4">
                                                <select class="form-control form-select">
                                                    <option>Order Amount</option>
                                                    <option>Highest To Lowest</option>
                                                    <option>Lowest To Highest</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- Row -->
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card card-white">
                                <div class="card-body">
                                    <table class="table">
                                        
                                        <thead style="background-color: #486177;" >
                                           
                                            <tr>
                                                <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Joined Date</th>
                    
                    <th scope="col">phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Options</th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody>
                                            {{#each userlist}}
                                            <tr>
                                                {{!-- <th scope="row">1</th> --}}
                                                <td>
                                                    {{!-- <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <i class="fa fa-user"></i>
                                                        </div> --}}
                                                        <div>
                                                            <h6>{{this.name}}</h6>
                                                            {{!-- <span>ID : #SK2540</span> --}}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{this.email}}</td>
                                                <td>{{this.joined_date}}</td>
                                                <td>{{this.phoneNumber}}</td>
                                                 {{#if this.blocked}}
                    <td>Blocked</td>
                    {{else}}
                    <td>Active</td>
                    {{/if}}
                                                <td>
                        {{#if this.blocked}}
                        <a href="/admin/userunblock/{{this._id}}" class="btn btn-info" style="width:100%">UNBLOCK</a>
                        {{else}}
                        <a href="/admin/userblock/{{this._id}}" class="btn btn-info" onclick="return block()" style="width:100%">BLOCK</a>
                        {{/if}}
                        
                    </td>
                                                
                                                {{!-- <td>$2563</td>
                                                <td>15 May 1997</td> --}}
                                                {{!-- <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td> --}}
                                            </tr>
                                            {{!-- <tr>
                                                <th scope="row">2</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-02.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Carl M. Gaier</h6>
                                                            <span>ID : #SK2541</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>123-371-653</td>
                                                <td>16</td>
                                                <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                <td>$3165</td>
                                                <td>02 Mar 1998</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-03.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Frank Manning</h6>
                                                            <span>ID : #SK2542</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>642-135-8654</td>
                                                <td>10</td>
                                                <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                <td>$1357</td>
                                                <td>01 Apr 1999</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-04.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Gary Bradley</h6>
                                                            <span>ID : #SK2543</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>234-135-853</td>
                                                <td>21</td>
                                                <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                <td>$3482</td>
                                                <td>28 Jan 2002</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-05.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Chandra Cirillo</h6>
                                                            <span>ID : #SK2544</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>123-444-9932</td>
                                                <td>05</td>
                                                <td><span class="badge rounded-pill bg-soft-pink">Blocked</span></td>
                                                <td>$1563</td>
                                                <td>20 Feb 2003</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-06.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Frederick Cooper</h6>
                                                            <span>ID : #SK2545</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>123-456-789</td>
                                                <td>16</td>
                                                <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                <td>$4785</td>
                                                <td>18 Jun 2004</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-07.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Elizabeth Elzey</h6>
                                                            <span>ID : #SK2546</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>222-444-896</td>
                                                <td>12</td>
                                                <td><span class="badge rounded-pill bg-soft-pink">Blocked</span></td>
                                                <td>$2793</td>
                                                <td>20 May 2006</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">8</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-08.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Eugene Rivera</h6>
                                                            <span>ID : #SK2547</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>274-385-8592</td>
                                                <td>10</td>
                                                <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                <td>$941</td>
                                                <td>21 Sep 2007</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">9</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-09.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>Janet Zoller</h6>
                                                            <span>ID : #SK2548</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>942-842-074</td>
                                                <td>14</td>
                                                <td><span class="badge rounded-pill bg-soft-pink">Blocked</span></td>
                                                <td>$5563</td>
                                                <td>27 Oct 2009</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">10</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-4">
                                                            <img src="img/avatars/avatar-10.jpg" class="rounded-circle" alt="...">
                                                        </div>
                                                        <div>
                                                            <h6>George Biddle</h6>
                                                            <span>ID : #SK2549</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>111-222-3334</td>
                                                <td>05</td>
                                                <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                <td>$156</td>
                                                <td>10 Dec 2015</td>
                                                <td>
                                                    <a href="#" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="far fa-edit text-primary"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                        <i class="far fa-trash-alt text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr> --}}
                                             {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
    {{!-- <section >
    <div class="container" >
        <div class="">
           
               
        </div>
        <table class="table mt-5 display table-success table-striped table-bordered" id="usersTable">
            <thead class="table-dark table-striped">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">phone</th>
                   
                    <th scope="col">Status</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each userlist}}
                <tr>
                    <td>{{this.name}} </td>
                    <td>{{this.email}} </td>
                    <td>{{this.phoneNumber}} </td>
                    
                    {{#if this.blocked}}
                    <td>Blocked</td>
                    {{else}}
                    <td>Active</td>
                    {{/if}}


                    <td>
                        {{#if this.blocked}}
                        <a href="/admin/userunblock/{{this._id}}" class="btn btn-success" style="width:100%"m>UNBLOCK</a>
                        {{else}}
                        <a href="/admin/userblock/{{this._id}}" class="btn btn-danger" onclick="block()" style="width:100%">BLOCK</a>
                        {{/if}}
                        
                    </td>
                </tr>
                {{/each}}
            </tbody>
           
        </table>
    </div>

</section> --}}

   
  </body>
  <script>
    function block(){
       
    }
  </script>
</html>
