<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Male Fashion</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/admin/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/admin/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->

    <!---added--->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <!--added from smartshop-->

    <link rel="shortcut icon" href="img/logos/favicon.png" alt="#favicon">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" alt="#apple1">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" alt="#apple2">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" alt="#apple3">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"> </script>

    <!-- plugins -->
    {{!--
    <link rel="stylesheet" href="css/plugins.css"> --}}

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body style="background-color: #f3f2ee;">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/login">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">

            <a href="#" class="search-switch"><img src="#" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {{#if login}} <a href="/logout">Sign out</a>
                                {{else}}<a href="/login">Sign In</a>
                                {{/if}}
                                {{!-- <a href="#">FAQs</a> --}}
                            </div>
                            {{!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li ><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">About</a>
                                {{!-- <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul> --}}
                            </li>
                            <li><a href="#">Contacts</a></li>
                            <li class="active"><a href="/account">Account</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                         <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>{{#if cartQuantity}}{{cartQuantity}}{{else}}0{{/if}}</span></a>
                        <div class="price">₹{{#if grandTotal}}{{grandTotal}}{{else }}0.00{{/if}}</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- PAGE TITLE
        ================================================== -->
       <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Account</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/account">Account</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- ACCOUNT ORDERS
        ================================================== -->
    <section class="md">
        <div class="container">
            <div class="row justify-content-center">
                <!-- left panel -->
                <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">
                    <div class="account-pannel" style="background-color: lightgrey;">
                        <div class="p-4">
                            <div class="text-center">
                                <div class="pb-3">
                                    <img class="img-fluid rounded-circle img-thumbnail" src="img/avatar/t-1.jpg"
                                        alt="...">
                                </div>
                                <h6 class="mb-0 display-28"><b>{{userName}}</b></h6>
                                <small>Joined {{joinedDate}}</small>
                                <div class="reward-points">
                                    <i class="ti-star text-primary pe-1"></i> Points: 0
                                </div>
                            </div>
                        </div>

                        <div class="list-group">
                            <a class="list-group-items" href="/orders" style="color: black;"><i
                                    class="	fas fa-cart-arrow-down"
                                    style="color: black;margin-right: 10px;"></i>Orders<span class="badge badge-pill"
                                    style="background-color:#343a40;color:white">{{ordercount}}</span></a>
                            <a class="list-group-items" href="/account"
                                style="color: black;"><i class="far fa-user-circle"
                                    style="color: black;margin-right: 10px;"></i>Profile</a>
                            <a class="list-group-items" href="/address" style="color: black;"><i
                                    class="fas fa-map-marker-alt"
                                    style="color: black;margin-right: 10px;"></i>Addresses</a>
                            <a class="list-group-items " href="/wishlist" style="color: white;background-color:#343a40"><i
                                    class="fas fa-heart" style="color: white;margin-right: 10px;"></i>Wishlist<span
                                    class="badge badge-pill" style="background-color:#ffffff;color:black">{{wishlistCount}}</span></a>
                            <a class="list-group-items" href="#" style="color: black;"><i
                                    class="	fas fa-tags" style="color: black;margin-right: 10px;"></i>My Tickets<span
                                    class="badge badge-pill" style="background-color:#343a40;color:white">0</span></a>
                        </div>
                    </div>
                </div>
                <!-- end left panel -->
<div class="col-lg-8">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="mb-0">My Wishlist</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="table v-align-middle" style="background-color: #f3f2ee;"  >
                                    <thead style="background-color: #343a40">
                                        <tr>
                                            
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Stock Status</th>
                                            <th>Add To Cart</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each wishlists}}
                                        <tr id="hide{{this.product._id}}">
                                           
                                            <td>
                                                <img src="/images/uploads/{{this.product.image.[0]}}" alt="..."  height="90px" width="90px">
                                            </td>
                                            <td>{{this.product.name}}</a></td>
                                            <td class="product-price">₹{{this.product.price}}</td>
                                            <td class="product-quantity">In Stock</td>
                                            <td><form action="/cart/{{this.product._id}}" method="post">
                                            <input type="number" name="quantity" value="1" style="display:none">
                                            <button class="butn-style2 small" style="background:#343a40;border:none">Add To Cart</button></form></td>
                                             <td><i class="fas fa-trash" style="color:black"  onclick="deleteWishlist('{{this.product._id}}')"></i></td>
                                        </tr>

                                        
                                       
                                     {{/each}}
                                    </tbody>
                               
                                </table>
                            </div>

                            {{!-- <a class="butn-style2 mt-3" href="#"><span>Clear Wishlist</span></a> --}}
                        </div>

                    </div>
                <!-- end right panel or profile update form -->
            </div>
        </div>
    </section>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->


    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->

    <script>

        function verifyPassword() {
            let val1 = true
            let val2 = true
            let val3 = true
            let val4 = true


            const pw1 = document.getElementById("password").value;
            const pw2 = document.getElementById("password2").value;
            let x = document.getElementById("name").value;
            let y = document.getElementById("pass").value;
            var atposition = y.indexOf("@");
            var dotposition = y.lastIndexOf(".");

            if (x.length < 3) {
                alert("Name must be filled out");
                val1 = false
            }
            else if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= y.length) {
                alert("Please enter a valid e-mail address")
                val2 = false
            }
            else if (pw1 == "" || pw2 == "") {
                alert("enter both the feild")
                val3 = false
            }

            else if (pw2.length != 0 && pw2.length != pw1.length || pw1 != pw2) {
                alert("enter same passwords")
                val4 = false
            }

            if (val1 && val2 && val3 && val4) {
                return true
            } else {
                return false
            }
        }
    </script>


    <script>
        if ({{ message }}) {
            console.log("user exist true and showing red color and showing email already exists message")
            document.getElementById("pass").style.backgroundColor = "red"
            document.getElementById("pass").value = "Email already exists"
            setTimeout(() => {
                document.getElementById("pass").style.backgroundColor = "#54657d"
                document.getElementById("pass").value = ""
            }, 1000)
        }
    </script>

    <!--added--->

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        function deleteWishlist(productId){
            console.log("safad wishlist" + productId)
            axios.post('/deleteWishlist', {productId:productId })
                    .then(response => {
                        if(response.data){
                        if(response.data.message=="product Deleted"){
                            document.getElementById("hide"+productId).style.display="none"
                         Swal.fire({
                            icon: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        })
                        }
                        else if(response.data.message=="noSession") {
                               location.href="/login"
                        } }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
        }
    </script>
 <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
$(document).ready(function() {
    $('#myTable').DataTable({
        "pagingType": "full_numbers"
    });
});
</script>

</body>

</html>